@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200');

*
{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Poppins, Helvetica, sans-serif;
	font-weight: 200;
}

h1,h2,h3,h4,h5,h6
{
	font-family: Poppins;
}

h1 {
	margin-bottom: 20px;
}

h2 {
	font-size: 1.5em;
	border-bottom: solid 1px black;
	width: 25%;
	margin: auto;
}

h3 {
	margin-top: 20px;
}

body
{
	background: url('../img/mtns.jpg') no-repeat;
}

main
{
	background-color: #fff;
	margin:auto;
	width: 1100px;
	min-height: 100vh;
	box-shadow: 0 5px 7px rgba(0,0,0,.4);
	text-align: center;
}

input:focus {
	outline: none;
}

.box {
	padding-top: 30px;
}
.second_header {
	margin-top: 70px;
	margin-bottom: 0;
}

/* Select Field Styles */
.radio {
	display: inline-block;
	margin: 0 20px;
	font-size: 1.3em;
	padding-top: 10px;
}
.sizes, .condition {
	margin-top: 30px;
}

/* Zip Field Styles */
.zip_field {
	display:inline-block;
	margin:auto;
	padding: 10px;
	font-size: 1.5em;
}

.enter_btn {
	display: inline;
	font-size: 1.5em;
	margin-top: 15px;
	padding: 12px;
	color: white;
	border: none;
	background-color: deepskyblue;
}
.enter_btn:hover {
	cursor: pointer;
	background-color: dodgerblue;
}

.zip_error {
	color: red;
	font-size: 1.2em;
	margin-top: 10px;
}

/* Results Styles */
.results_header {
	margin-top: 80px;
	border-bottom: 1px solid black;
}
.results_list {
	display:table;
	width: 100%;
}
.res {
	display: table-cell;
	width: 33%;
	font-size: 1.2em;
}
.name_1, .name_2, .name_3 {
	text-transform: uppercase;
	font-size: .8em;
}
.depot_1, .depot_2, .depot_3 {
	font-weight: bold;
}
.price_1, .price_2, .price_3, .pickup_1, .pickup_2, .pickup_3 {
	color: deepskyblue;
	font-weight: bold;
	font-size: 1.5em;
}

/* Media Queries */
@media (max-width: 1100px)
{
	main
	{
		width: 100%;
		height: 100%;
	}
}

/* Mobile Devices */
@media (max-width: 660px)
{
	h1 {
		margin-bottom: 0;
	}
	h2 {
		width: 100%;
	}
	
	.enter_btn, .zip_field {
		display: block;
		width: 90%;
		margin: auto;
	}
	.enter_btn {
		margin-top: 20px;
	}
	.zip_field {
		text-align: center;
	}
	
	.results_list {
		display:flex;
		flex-direction: column;
		width: 100%;
	}
	.res {
		width: 100%;
		border-bottom: 1px solid black;
	}
}
